.search-bar__form {
	width: 50%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	&--input {
		width: 100%;
		height: 50px;
		border-radius: 5px 0px 0px 5px;
		border: 2px solid #265350;
		padding: 10px;

		&:focus {
			outline: none;
		}
	}

	&--btn {
		color: white;
		padding: 10px;
		background: #265350;
		height: 100%;
		border: none;
		border-radius: 0px 5px 5px 0px;
		cursor: pointer;
	}
}
