.Books {
	background: #fffef9;
	height: 100vh;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	&__search {
		&-container {
			width: 100%;
			height: 40%;
		}

		&-bar {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			&--input {
				width: 50%;
				height: 50px;
				border-radius: 10px;
				border: 2px solid green;
			}
		}
	}

	&__display {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;

		&-container {
			width: 70%;
			height: auto;
		}

		&-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 40px 15px;

			&--item {
				background: white;
				border: 1px solid green;
			}
		}
	}
}
